tmux/plugins

# Themes
hypr/colors.conf
ghostty/theme
mako/colors
rofi/colors.rasi
spicetify/Themes/Sleek/color.ini
waybar/waybar.css
nvim/lua/plugins/theme.lua

# Hyprland machine specific
hypr/monitors.conf
hypr/workspaces.conf

# Obs Studio, but still track profile and scenes
obs-studio/*
!obs-studio/basic

# Rclone config
rclone/rclone.conf

# Nvim lock file
nvim/lazy-lock.json
