*.log

# Themes
dotfiles/hypr/colors.conf
dotfiles/ghostty/theme
dotfiles/mako/colors
dotfiles/rofi/colors.rasi
dotfiles/spicetify/Themes/Sleek/color.ini
dotfiles/waybar/waybar.css

# Hyprland machine specific
dotfiles/hypr/monitors.conf
dotfiles/hypr/workspaces.conf

# Obs Studio, but still track profile and scenes
dotfiles/obs-studio/*
dotfiles/!obs-studio/basic

# Rclone config
dotfiles/rclone/rclone.conf

# Nvim lock file
dotfiles/nvim/lazy-lock.json
