tooltip {
  background-color: #282828;
  border: 1px solid #d4be98;
}

tooltip label {
  color: #d4be98;
}

#workspaces button {
  color: #d4be98;
  background-color: #282828;
  border: 1px solid #d4be98;
}

#workspaces button.active {
  color: #282828;
  background-color: #d4be98;
}

#tray,
#clock,
#cpu,
#memory,
#network,
#bluetooth,
#pulseaudio,
#battery {
  background-color: #282828;
  border: 1px solid #d4be98;
  color: #d4be98;
}
