tooltip {
  background-color: #3b4252;
  border: 1px solid #88c0d0;
}

tooltip label {
  color: #88c0d0;
}

#workspaces button {
  color: #88c0d0;
  background-color: #3b4252;
  border: 1px solid #88c0d0;
}

#workspaces button.active {
  color: #3b4252;
  background-color: #88c0d0;
}

#clock,
#tray,
#custom-docker,
#cpu,
#memory,
#network,
#bluetooth,
#pulseaudio,
#battery {
  background-color: #3b4252;
  border: 1px solid #88c0d0;
  color: #88c0d0;
}
