[Desktop Entry]
Type=Application
Exec=/usr/local/bin/fileu
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Filecxx
Name=Filecxx
Comment[en_US]=File Downloader
Comment=File Downloader
